/*=======================================
         base styles
======================================== */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', 'Roboto Condensed', sans-serif;
  line-height: 1.6;
  text-align: center;
}

/*=======================================
          main css
 ======================================== */
form {
  max-width: 300px;
  margin: 10px auto;
  padding-top: 0;
  border-radius: 8px;
}

fieldset {
  border: none;
}

/*=======================================
        top section of form
 ======================================== */
h1 {
  margin: 0;
  padding-top: 15px;
  background: #2D3945;
  font-size: 1.5em;
  color: white;
  text-align: center;
  padding-bottom: 15px;
}

h2 {
  text-align: center;
  font-size: 1em;
}

p {
  color: #778899;
  font-size: 1em;
}

.main-heading {
  padding-top: 20px;
  padding-bottom: 8px;
  background-color: #b0e0e6;
}

.line1 {
  height: 1px;
  border-bottom: 4px solid black;
  margin-bottom: 4px;
  margin-top: 10px;
}

.line2 {
  height: 1px;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}

/*=======================================
   contact information section of form
 ======================================== */
legend {
  display: flex;
  font-size: 1.5em;
  margin-bottom: 5px;
  font-weight: bold;
}

.legend {
  font-size: .80em;
}

.topone {
  margin-left: -110px;
}

.bottomone {
  margin-right: 200px;
  margin-top: 5px;
}

label {
  text-align: left;
  margin-top: 5px;
  display: block;
  margin-bottom: 3px;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  color: #d3d3d3;
}

label[for="name"],
label[for="mail"],
label[for="phone"],
label[for="address"],
label[for="city"],
label[for="state"],
label[for="zip"] {
  width: 40%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  flex-grow: 1;
  border-radius: 3.5px;
  height: 40px;
  margin-bottom: 15px;
}

input[id="zip"] {
  flex-grow: 1;
  max-width: 61%;
  margin-top: 5px;
}

label[for="zip"] {
  margin-top: 15px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select[class="state-choice"]:focus,
textarea[id="other-topics"]:focus {
  background: #e0ffff;
  color: #2f4f4f;
}

textarea[id="other-topics"] {
  margin-bottom: 15px;
  margin-left: -12px;
}

.recieve {
  margin-top: -5px;
}

.state-choice {
  color: #2f4f4f;
}

input {
  color: #2f4f4f;
  background-color: #EFF0F2;
}

::placeholder {
  color: #d3d3d3;
  text-align: right;
  font-size: .8em;
  padding-right: 10px;
  font-style: italic;
}

.zip-code {
  max-width: 50%;
  display: flex;
}

select[id="state"] {
  border-radius: 3.5px;
  height: 40px;
  background-color: #EFF0F2;
  margin-bottom: 5px;
}

/*=======================================
   newsletter section of form
 ======================================== */
.second-section {
  padding-top: 3px;
  padding-bottom: 5px;
}

.line3 {
  height: 1px;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
}

.bottom-topics,
.bottom-news {
  text-align: left;
}

.recieve {
  text-align: left;
}

label[for="newsletter"] {
  font-weight: bold;
  font-size: 1.1em;
}

label[for="format"],
label[for="other-topics"] {
  color: #778899;
  font-size: 1em;
  padding-bottom: 5px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.html-newsletter,
.css-newsletter,
.javascipt-newsletter,
.html-radio,
.plain-text-radio {
  flex-basis: 90%;
  margin-top: -5px;
  margin-left: 12px;
  color: #778899;
}

.typehere {
  display: flex;
}

textarea {
  flex-basis: 100%;
  border-radius: 3px;
  height: 6.25em;
  background-color: #EFF0F2;
}

/*=======================================
    sign up button at bottom of form
 ======================================== */
button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4EBBB5;
  font-size: 1.125em;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 96%;
  margin-bottom: 5px;
}

/*=======================================
    footer section of the form
 ======================================== */
.copyright {
  font-family: 'Gayathri', sans-serif;
  margin-top: 1px;
  font-size: .90em;
}

/*=======================================
            media queries
 ======================================== */
@media (min-width:768px) {

  /*=============================================
      top section of form inside media quaries
   ============================================== */
  form {
    max-width: 792px;
  }

  .name {
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .main-heading {
    margin-left: 180px;
    max-width: 50%;
    background-color: #b0e0e6;
  }

  .get-started {
    font-size: .60em;
  }

  .line1 {
    height: 1px;
    border-bottom: 4px solid black;
    margin-bottom: 4px;
    margin-top: 10px;
    max-width: 50%;
    margin-left: 180px;
  }

  .line2 {
    height: 1px;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    max-width: 50%;
    margin-left: 180px;
  }

  /*=============================================================
    contact information section of form inside media quaries
 ============================================================== */
  .topone {
    margin-left: -200px;
  }

  .bottomone {
    margin-right: 320px;
  }

  .contact-info {
    max-width: 50%;
    margin-left: 164px;
  }

  .container {
    max-width: 50%;
    margin-left: 164px;
  }

  .contact-info {
    display: flex;
    flex-wrap: wrap;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select {
    flex-grow: 1;
  }

  form input, form select {
    max-width: 100%;
    display: inline-block;
  }

  label[for="name"],
  label[for="mail"],
  label[for="phone"],
  label[for="address"],
  label[for="city"],
  label[for="state"],
  label[for="zip"] {
    width: 40%;
  }

  input[id="zip"] {
    max-width: 30%;
  }

  /*=============================================================
    newsletter section of form inside media quaries
 ============================================================== */
  .line3 {
    height: 1px;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    max-width: 50%;
    margin-left: 177px;
    margin-top: 10px;
  }

  .second-section {
    margin-right: 50px;
  }

  input[type="checkbox"],
  input[type="radio"] {
    margin-left: -1.1px;
  }

  .legend2 {
    text-align: left;
    margin-left: 180px;
    font-size: 1.2em;
  }

  .recieve {
    margin-left: 162px;
  }

  .bottom-news {
    margin-left: 162px;
    text-align: left;
  }

  .bottom-topics {
    text-align: left;
    margin-left: 180px;
  }

  label[for="other-topics"] {
    margin-left: 162px;
  }

  textarea {
    max-width: 72%;
  }

  .typehere {
    margin-left: 175px;
  }

  button {
    max-width: 53.5%;
    margin-left: -10px;
  }

  .copyright {
    margin-left: -10px;
  }
}
