/*=======================================
         base styles
======================================== */
body {
  font-family: 'Noto Sans', 'Roboto Condensed', sans-serif;
  text-align: center;
}

/*=======================================
          main css
 ======================================== */
form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
}

/*=======================================
        top section of form
 ======================================== */
h1 {
  margin: 0;
  padding-top: 1em;
  background: #2D3945;
  font-size: 1.3em;
  color: white;
  text-align: center;
  font-weight: bold;
  padding-bottom: 1em;
}

h2 {
  text-align: center;
  font-size: 1.2em;
}

p {
  color: #778899;
  font-size: 1em;
  margin-top: -5px;
}

.main-heading {
  padding-top: .7em;
  }

.line1 {
  flex-grow: 1;
  flex-basis: 25em;
  margin-top: 1em;
  height: 1px;
  border-bottom: 5px solid black;


}

.line2 {
  flex-grow: 1;
  height: 1px;
  margin-top: 0.19em;
  border-top: 2.5px solid black;
  margin-bottom: 1.75em;
}

/*=======================================
   contact information section of form
 ======================================== */
legend {
  /* display: flex; */
  font-size: 1.5em;
  margin-bottom: 5px;
  font-weight: bold;
}

.legend {
    font-size: .80em;
  }

.topone {
  margin-left: -85px;
  font-weight: bold;
  font-size: .92em;
  margin-bottom: 8px;
}

.bottomone {
margin-right: 200px;
margin-top: 5px;
margin-bottom: 17px;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  color: #d3d3d3;
  margin: 0;
  padding: 0;
  width: 100%;
}

label[for="name"],
label[for="mail"],
label[for="phone"],
label[for="address"],
label[for="city"],
label[for="state"],
label[for="zip"] {
  width: 100%;
  margin-top: 7px;
  color: black;
  text-align: left;
  margin-top: 5px;
  display: block;
  margin-bottom: 15px;
}

label[for="zip"] {
margin-top: 20px;
margin-right: 50px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  flex-grow: 1;
  border-radius: 3.5px;
  height: 42px;
  margin-bottom: 20px;
  flex-basis: auto;
}

select[class="state-choice"] {
  flex-basis: 500px;
}

input[id="zip"]{
  max-width: 45%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select[class="state-choice"]:focus,
textarea[id="other-topics"]:focus {
  background: #e0ffff;
  color: #2f4f4f;
}

textarea[id="other-topics"]{
  margin-bottom: 15px;
}

.recieve {
  margin-top: -5px;
}

.state-choice {
  color: #2f4f4f;
}

input {
  color: #2f4f4f;
  background-color: #EFF0F2;
}

::placeholder {
  color: #d3d3d3;
  text-align: right;
  font-size: .8em;
  padding-right: 10px;
  font-style: italic;
}

.zip-code {
  max-width: 50%;
  display: flex;
}

select[id="state"] {
  border-radius: 3.5px;
  height: 40px;
  background-color: #EFF0F2;
  margin-bottom: 5px;
}



/*=======================================
   newsletter section of form
 ======================================== */
.second-section {
  padding-top: 3px;
  padding-bottom: 5px;
}

.line3 {
  flex-grow: 1;
  height: 1px;
  border-bottom: 2px solid black;
  margin-bottom: 25px;
}


.bottom-news {
  text-align: left;
  margin-left: 6px;
  margin-top: 10px;
  margin-bottom: 18px;
}

label[for="other-topics"] {
margin-left: -40px;
}

label[class="plain-text-radio"] {
  margin-bottom: 20px;
}

.recieve {
  text-align: left;
  margin-left: 6px;
}

input[type="checkbox"],
input[type="radio"]{
  flex: 1;
  margin-left: -270px;
  margin-bottom: -100px;
}

label[class="html-newsletter" ],
label[class="css-newsletter"],
label[class="javascipt-newsletter"],
label[class="html-radio"],
label[class="plain-text-radio"] {
  flex: 2;
  margin-left: 35px;
  margin-top: -18px;
  text-align: left;
  display: block;
}


.typehere {
  /* display: flex; */
}

textarea {
  flex-grow: 1;
  border-radius: 3px;
  height: 6.25em;
  background-color: #EFF0F2;
  margin-top: 20px;
  width: 105%;
  margin-left: -12.5px;
}

/*=======================================
    sign up button at bottom of form
 ======================================== */
button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4EBBB5;
  font-size: 1.125em;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

/*=======================================
    footer section of the form
 ======================================== */
.copyright {
  font-family: 'Gayathri', sans-serif;
  margin-top: 1px;
  font-size: .90em;
}

/*=======================================
            media queries
 ======================================== */
@media (min-width:768px) {

  /*=============================================
      top section of form inside media quaries
   ============================================== */
  form {
    max-width: 768px;
  }

  .name {
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .main-heading {
    margin-left: 180px;
    max-width: 50%;
    background-color: #b0e0e6;
  }

  .get-started {
    font-size: .60em;
  }

  .line1 {
    height: 1px;
    border-bottom: 4px solid black;
    margin-bottom: 4px;
    margin-top: 10px;
    max-width: 50%;
    margin-left: 180px;
  }

  .line2 {
    height: 1px;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    max-width: 50%;
    margin-left: 180px;
  }

  /*=============================================================
    contact information section of form inside media quaries
 ============================================================== */
  .topone {
    margin-left: -200px;
  }

  .bottomone {
    margin-right: 290px;
  }

  .contact-info,
  .container {
    max-width: 50%;
    margin-left: 180px;
  }

.contact-info {
  display: flex;
  flex-wrap: wrap;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  flex-grow: 1;
}

  form input, form select {
    max-width: 100%;
    display: inline-block;
  }

  label[for="name"],
  label[for="mail"],
  label[for="phone"],
  label[for="address"],
  label[for="city"],
  label[for="state"],
  label[for="zip"] {
    width: 40%;
  }

  input[id="zip"]{
    max-width: 30%;
  }

  /*=============================================================
    newsletter section of form inside media quaries
 ============================================================== */
  .line3 {
    height: 1px;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    max-width: 52%;
    margin-left: 170px;
    margin-top: 10px;
  }

  .second-section {
  margin-right: 50px;
  }

  input[type="checkbox"],
  input[type="radio"] {
    margin-left: -1.1px;
  }

  .legend2 {
    text-align: left;
    margin-left: 180px;
    font-size: 1.2em;
  }

  .recieve,
  .format {
    margin-left: 180px;
  }

  .bottom-news {
    margin-left: 180px;
    text-align: left;
  }

  .bottom-topics {
    text-align: left;
    margin-left: 180px;
  }

  textarea {
    max-width: 55%;
    margin-left: 170px;
  }

  button {
    max-width: 53%;
  }
}
